<form>

<div class="container">
    <div class="bg_white header1">
    <div class="bg_clr">    
    <div class="col-md-8">       
            <div class="lbl-div lbl-div_1">
                <span class="label_cls">S</span>
            </div>
            <div class="lbl-div lbl-div_2">
                <h4>Star Tmt Steel</h4>
                <p>*9098</p>
            </div>   
    </div>
    <div class="col-md-4">
        <h5 class="changeaccount_cls">CHANGE ACCOUNT</h5>
    </div>
    <div class="clear"></div>
</div>
<div class="sub_header">
<div class="col-md-3">
    <p>Last Transaction</p>
</div>

<div class="col-md-3">
    <h5 class="heads">$500.00</h5>
    <p>Meterial Purchased</p>
</div>

<div class="col-md-3">
    <h5 class="heads">27/11/2020</h5>
    <p>Transaction date</p>
</div>
<div class="col-md-3">
    <p class="repeat_cls">REPEAT</p>
</div>
<div class="clear"></div>
</div>

</div>



<div class="sub_form bg_white">
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Amount</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Remarks</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Form</label>
            <select class="dropdown-toggle form-control" data-toggle="dropdown">
                <option value="">Telco Account</option>              
            </select>
            <span class="select_drp">SELECT</span>
            <p class="available_bal">Available Balance <span>$55,000.00</span></p>
        </div>

    </div>
    <div class="col-md-6">

        <div>
           
            <div class="schedula_payment">
                <span>Schedule this payment</span> <span></span>
            </div>
            <div class="schedule_btns_div">
                <button class="btn schedule_btns btn_bgclr">Once</button>
                <button class="btn btn-default schedule_btns">Monthly</button>
                <button class="btn btn-default schedule_btns">Quaterly</button>
                <button class="btn btn-default schedule_btns">Yearly</button>
            </div>
        </div>
        <div class="form-group start_date">
            <label for="">Start date</label>
            <input type="date" class="form-control">
        </div>
        <div class="form-group occur">
            <label for="">Number of occurences</label>
            <input type="number" class="form-control">
        </div>

    </div>
    <div class="clear"></div>
</div>

<div class="btns">
    <span class="back_clr"><a href="">BACK</a></span>
    <button class="btn btn-danger" routerLink="/Submittedform">PROCEED</button>  
</div>

</div>
</form>

