<form action="">
    <div class="container">
        <div class="bg_white header1">
            <div class="bg_clr">    
            <div class="col-md-8">       
                    <div class="lbl-div lbl-div_1">
                        <span class="label_cls">S</span>
                    </div>
                    <div class="lbl-div lbl-div_2">
                        <h4>Star Tmt Steel</h4>
                        <p>*9098</p>
                    </div>   
            </div>
            <div class="col-md-4">
                <h5 class="changeaccount_cls">CHANGE ACCOUNT</h5>
            </div>
            <div class="clear"></div>
        </div>
        <div class="sub_header">
        <div class="col-md-3">
            <p>Last Transaction</p>
        </div>
        
        <div class="col-md-3">
            <h5 class="heads">$500.00</h5>
            <p>Meterial Purchased</p>
        </div>
        
        <div class="col-md-3">
            <h5 class="heads">27/11/2020</h5>
            <p>Transaction date</p>
        </div>
        <div class="col-md-3">
            <p class="repeat_cls">REPEAT</p>
        </div>
        <div class="clear"></div>
        </div>
        
        </div>
        

    </div>
</form>
